In [ ]:
import pandas as pd
import pickle as pkl
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import Binarizer
from gensim.corpora import Dictionary
from gensim.models import TfidfModel
from google.colab import drive
import numpy as np

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_pickle(r'/content/drive/MyDrive/Text, Web and Social Media Analytics/stemmed_data.pkl')

In [ ]:
print(data[0])

wonder enlighten car saw dai earli call bricklin door small addit bumper separ rest bodi know tellm model engin spec year product car histori info funki look car thank

In [ ]:
countvec = CountVectorizer(max_df=0.95, min_df = 0.05)

In [ ]:
datacountvec = countvec.fit_transform(data)

In [ ]:
print(datacountvec)

  (0, 195)	1
  (0, 26)	3
  (0, 43)	1
  (0, 25)	1
  (0, 165)	1
  (0, 97)	1
  (0, 53)	1
  (0, 203)	1
  (0, 109)	1
  (0, 178)	1
  (1, 43)	2
  (1, 178)	1
  (1, 153)	1
  (1, 125)	1
  (1, 56)	2
  (1, 163)	1
  (1, 27)	1
  (1, 17)	1
  (1, 7)	1
  (1, 75)	1
  (1, 49)	1
  (2, 195)	1
  (2, 97)	1
  (2, 53)	1
  (2, 109)	2
  :	:
  (11311, 52)	2
  (11311, 29)	1
  (11311, 90)	1
  (11312, 97)	1
  (11312, 49)	2
  (11312, 190)	1
  (11312, 199)	1
  (11312, 11)	1
  (11312, 58)	1
  (11312, 154)	1
  (11312, 135)	4
  (11312, 132)	1
  (11312, 136)	1
  (11312, 66)	1
  (11312, 51)	1
  (11312, 55)	1
  (11312, 200)	1
  (11312, 144)	1
  (11312, 77)	1
  (11312, 23)	1
  (11313, 53)	1
  (11313, 125)	2
  (11313, 81)	1
  (11313, 74)	1
  (11313, 186)	1

In [ ]:
tfidf1 = TfidfVectorizer(max_df=0.95, min_df=0.05,use_idf=False, norm='l1')

In [ ]:
datatfidf1 = tfidf1.fit_transform(data)

In [ ]:
print(datatfidf1)

  (0, 195)	0.08333333333333333
  (0, 26)	0.25
  (0, 43)	0.08333333333333333
  (0, 25)	0.08333333333333333
  (0, 165)	0.08333333333333333
  (0, 97)	0.08333333333333333
  (0, 53)	0.08333333333333333
  (0, 203)	0.08333333333333333
  (0, 109)	0.08333333333333333
  (0, 178)	0.08333333333333333
  (1, 43)	0.15384615384615385
  (1, 178)	0.07692307692307693
  (1, 153)	0.07692307692307693
  (1, 125)	0.07692307692307693
  (1, 56)	0.15384615384615385
  (1, 163)	0.07692307692307693
  (1, 27)	0.07692307692307693
  (1, 17)	0.07692307692307693
  (1, 7)	0.07692307692307693
  (1, 75)	0.07692307692307693
  (1, 49)	0.07692307692307693
  (2, 195)	0.023809523809523808
  (2, 97)	0.023809523809523808
  (2, 53)	0.023809523809523808
  (2, 109)	0.047619047619047616
  :	:
  (11311, 52)	0.2
  (11311, 29)	0.1
  (11311, 90)	0.1
  (11312, 97)	0.047619047619047616
  (11312, 49)	0.09523809523809523
  (11312, 190)	0.047619047619047616
  (11312, 199)	0.047619047619047616
  (11312, 11)	0.047619047619047616
  (11312, 58)	0.047619047619047616
  (11312, 154)	0.047619047619047616
  (11312, 135)	0.19047619047619047
  (11312, 132)	0.047619047619047616
  (11312, 136)	0.047619047619047616
  (11312, 66)	0.047619047619047616
  (11312, 51)	0.047619047619047616
  (11312, 55)	0.047619047619047616
  (11312, 200)	0.047619047619047616
  (11312, 144)	0.047619047619047616
  (11312, 77)	0.047619047619047616
  (11312, 23)	0.047619047619047616
  (11313, 53)	0.16666666666666666
  (11313, 125)	0.3333333333333333
  (11313, 81)	0.16666666666666666
  (11313, 74)	0.16666666666666666
  (11313, 186)	0.16666666666666666

In [ ]:
tfidf2 = TfidfVectorizer(max_df=0.95, min_df=0.05,smooth_idf=False)

In [ ]:
datatfidf2 = tfidf2.fit_transform(data)

In [ ]:
print(datatfidf2)

  (0, 178)	0.1817201266030662
  (0, 109)	0.17752063327884612
  (0, 203)	0.18499288997844116
  (0, 53)	0.25776501195000656
  (0, 97)	0.14565987864974358
  (0, 165)	0.2637662270921334
  (0, 25)	0.2256014284460924
  (0, 43)	0.214231975215275
  (0, 26)	0.7639571747722331
  (0, 195)	0.2521660528486645
  (1, 49)	0.11946535481841696
  (1, 75)	0.27164038693676806
  (1, 7)	0.25540884270953085
  (1, 17)	0.25254405618001075
  (1, 27)	0.26656298831518555
  (1, 163)	0.2569360144232503
  (1, 56)	0.539966786605416
  (1, 125)	0.2256183346979275
  (1, 153)	0.27140118903307897
  (1, 178)	0.1871449807992783
  (1, 43)	0.44125479810861656
  (2, 182)	0.09998613212848395
  (2, 147)	0.1263713141532344
  (2, 3)	0.15785777153754868
  (2, 81)	0.12476168563712947
  :	:
  (11311, 36)	0.19317914283375842
  (11311, 58)	0.31048542986972083
  (11311, 69)	0.23637751022847292
  (11312, 23)	0.2150895597025941
  (11312, 77)	0.19277480308094633
  (11312, 144)	0.2064591701505333
  (11312, 200)	0.20218176202519175
  (11312, 55)	0.20246152196726805
  (11312, 51)	0.20630861836660155
  (11312, 66)	0.21352570614461663
  (11312, 136)	0.18167120595666159
  (11312, 132)	0.2166989687435049
  (11312, 135)	0.6700961794421578
  (11312, 154)	0.20963948833426635
  (11312, 58)	0.1941450154256085
  (11312, 11)	0.10069320012745583
  (11312, 199)	0.09255360244992661
  (11312, 190)	0.14872593548029073
  (11312, 49)	0.19399229533313503
  (11312, 97)	0.12179448004172679
  (11313, 186)	0.38301085554642095
  (11313, 74)	0.4011393495085573
  (11313, 81)	0.30942316330387526
  (11313, 125)	0.6657661420698281
  (11313, 53)	0.39166651234683203

In [ ]:
vocabularyi = countvec.get_feature_names()
vocabularyii = tfidf1.get_feature_names()
vocabularyiii = tfidf2.get_feature_names()
print(len(vocabularyi))
print(len(vocabularyii))
print(len(vocabularyiii))

204
204
204

In [ ]:
print(vocabularyiii)

['abl', 'accept', 'actual', 'advanc', 'ago', 'agre', 'allow', 'answer', 'appreci', 'apr', 'area', 'articl', 'ask', 'assum', 'avail', 'awai', 'bad', 'base', 'believ', 'best', 'better', 'big', 'bit', 'book', 'bui', 'call', 'car', 'card', 'care', 'case', 'caus', 'chang', 'check', 'christian', 'claim', 'close', 'com', 'come', 'complet', 'consid', 'control', 'cours', 'current', 'dai', 'data', 'david', 'differ', 'discuss', 'drive', 'edu', 'effect', 'email', 'end', 'engin', 'exampl', 'exist', 'experi', 'fact', 'far', 'feel', 'file', 'follow', 'free', 'game', 'gener', 'get', 'given', 'go', 'god', 'good', 'got', 'govern', 'great', 'group', 'guess', 'gui', 'hand', 'happen', 'hard', 'have', 'heard', 'help', 'high', 'home', 'hope', 'idea', 'import', 'includ', 'inform', 'interest', 'internet', 'isn', 'issu', 'john', 'kei', 'kill', 'kind', 'know', 'larg', 'law', 'left', 'let', 'life', 'like', 'line', 'list', 'littl', 'live', 'long', 'look', 'lot', 'mail', 'major', 'make', 'man', 'matter', 'mayb', 'mean', 'mention', 'mind', 'nation', 'need', 'net', 'new', 'note', 'number', 'old', 'opinion', 'order', 'origin', 'peopl', 'person', 'phone', 'place', 'plai', 'point', 'possibl', 'post', 'power', 'pretti', 'price', 'probabl', 'problem', 'program', 'provid', 'public', 'question', 'read', 'real', 'reason', 'recent', 'refer', 'rememb', 'report', 'requir', 'respons', 'result', 'right', 'run', 'sai', 'said', 'second', 'seen', 'send', 'set', 'small', 'softwar', 'sound', 'sourc', 'standard', 'start', 'state', 'suggest', 'support', 'sure', 'take', 'talk', 'tell', 'thank', 'thing', 'think', 'thought', 'time', 'todai', 'true', 'try', 'turn', 'understand', 'univers', 'us', 'wai', 'want', 'week', 'window', 'won', 'wonder', 'word', 'work', 'world', 'write', 'wrong', 'wrote', 'ye', 'year']

Some words don't really make sense (contentwise), i.e. david, actual, as they do not add a lot of value to the researcher.

We increased min_df to 0.1 and got less words out of it.

Decreasing max_df to 0.6 does not yield any difference. We conclude that there are no terms, which do not have a high df.

In [ ]:
binarizer = Binarizer()

In [ ]:
countvecbin = binarizer.fit_transform(datacountvec)

As the threshhold of the binarizer = 0, all values are turned to 1.

In [ ]:
print(countvecbin)

  (0, 195)	1
  (0, 26)	1
  (0, 43)	1
  (0, 25)	1
  (0, 165)	1
  (0, 97)	1
  (0, 53)	1
  (0, 203)	1
  (0, 109)	1
  (0, 178)	1
  (1, 43)	1
  (1, 178)	1
  (1, 153)	1
  (1, 125)	1
  (1, 56)	1
  (1, 163)	1
  (1, 27)	1
  (1, 17)	1
  (1, 7)	1
  (1, 75)	1
  (1, 49)	1
  (2, 195)	1
  (2, 97)	1
  (2, 53)	1
  (2, 109)	1
  :	:
  (11311, 52)	1
  (11311, 29)	1
  (11311, 90)	1
  (11312, 97)	1
  (11312, 49)	1
  (11312, 190)	1
  (11312, 199)	1
  (11312, 11)	1
  (11312, 58)	1
  (11312, 154)	1
  (11312, 135)	1
  (11312, 132)	1
  (11312, 136)	1
  (11312, 66)	1
  (11312, 51)	1
  (11312, 55)	1
  (11312, 200)	1
  (11312, 144)	1
  (11312, 77)	1
  (11312, 23)	1
  (11313, 53)	1
  (11313, 125)	1
  (11313, 81)	1
  (11313, 74)	1
  (11313, 186)	1

In [ ]:
array1 = datacountvec[0].toarray()
array2 = datatfidf1[0].toarray()
array3 = datatfidf2[0].toarray()
array4 = countvecbin[0].toarray()

In [ ]:
array1

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 0, 1]])

In [ ]:
print(countvec.get_feature_names())

['abl', 'accept', 'actual', 'advanc', 'ago', 'agre', 'allow', 'answer', 'appreci', 'apr', 'area', 'articl', 'ask', 'assum', 'avail', 'awai', 'bad', 'base', 'believ', 'best', 'better', 'big', 'bit', 'book', 'bui', 'call', 'car', 'card', 'care', 'case', 'caus', 'chang', 'check', 'christian', 'claim', 'close', 'com', 'come', 'complet', 'consid', 'control', 'cours', 'current', 'dai', 'data', 'david', 'differ', 'discuss', 'drive', 'edu', 'effect', 'email', 'end', 'engin', 'exampl', 'exist', 'experi', 'fact', 'far', 'feel', 'file', 'follow', 'free', 'game', 'gener', 'get', 'given', 'go', 'god', 'good', 'got', 'govern', 'great', 'group', 'guess', 'gui', 'hand', 'happen', 'hard', 'have', 'heard', 'help', 'high', 'home', 'hope', 'idea', 'import', 'includ', 'inform', 'interest', 'internet', 'isn', 'issu', 'john', 'kei', 'kill', 'kind', 'know', 'larg', 'law', 'left', 'let', 'life', 'like', 'line', 'list', 'littl', 'live', 'long', 'look', 'lot', 'mail', 'major', 'make', 'man', 'matter', 'mayb', 'mean', 'mention', 'mind', 'nation', 'need', 'net', 'new', 'note', 'number', 'old', 'opinion', 'order', 'origin', 'peopl', 'person', 'phone', 'place', 'plai', 'point', 'possibl', 'post', 'power', 'pretti', 'price', 'probabl', 'problem', 'program', 'provid', 'public', 'question', 'read', 'real', 'reason', 'recent', 'refer', 'rememb', 'report', 'requir', 'respons', 'result', 'right', 'run', 'sai', 'said', 'second', 'seen', 'send', 'set', 'small', 'softwar', 'sound', 'sourc', 'standard', 'start', 'state', 'suggest', 'support', 'sure', 'take', 'talk', 'tell', 'thank', 'thing', 'think', 'thought', 'time', 'todai', 'true', 'try', 'turn', 'understand', 'univers', 'us', 'wai', 'want', 'week', 'window', 'won', 'wonder', 'word', 'work', 'world', 'write', 'wrong', 'wrote', 'ye', 'year']

In [ ]:
df = pd.DataFrame(array1, columns=countvec.get_feature_names())

In [ ]:
df2 = pd.DataFrame(array2, columns=countvec.get_feature_names())

df3 = pd.DataFrame(array3, columns=countvec.get_feature_names())

df4 = pd.DataFrame(array4, columns=countvec.get_feature_names())

df = df.append(df2)

df = df.append(df3)

df = df.append(df4)

In [ ]:
df = df.transpose()

In [ ]:
df.columns = ['CountVectorizer', 'Tfidf1', 'Tfidf2', 'Binarizercountvec']

In [ ]:
df

        CountVectorizer    Tfidf1    Tfidf2  Binarizercountvec
abl                 0.0  0.000000  0.000000                0.0
accept              0.0  0.000000  0.000000                0.0
actual              0.0  0.000000  0.000000                0.0
advanc              0.0  0.000000  0.000000                0.0
ago                 0.0  0.000000  0.000000                0.0
...                 ...       ...       ...                ...
write               0.0  0.000000  0.000000                0.0
wrong               0.0  0.000000  0.000000                0.0
wrote               0.0  0.000000  0.000000                0.0
ye                  0.0  0.000000  0.000000                0.0
year                1.0  0.083333  0.184993                1.0

[204 rows x 4 columns]

In [ ]:
df = df[df.Binarizercountvec>0]

In [ ]:
df.sort_values(by=['CountVectorizer'], ascending=False)

        CountVectorizer    Tfidf1    Tfidf2  Binarizercountvec
car                 3.0  0.250000  0.763957                1.0
call                1.0  0.083333  0.225601                1.0
dai                 1.0  0.083333  0.214232                1.0
engin               1.0  0.083333  0.257765                1.0
know                1.0  0.083333  0.145660                1.0
look                1.0  0.083333  0.177521                1.0
small               1.0  0.083333  0.263766                1.0
thank               1.0  0.083333  0.181720                1.0
wonder              1.0  0.083333  0.252166                1.0
year                1.0  0.083333  0.184993                1.0

In [ ]:
corpus_gen=[doc.split() for doc in data]

In [ ]:
len(corpus_gen)

11314

In [ ]:
id2word = Dictionary(corpus_gen)
id2word.filter_extremes(no_below=566, no_above=0.95)

In [ ]:
print(id2word)

Dictionary(204 unique tokens: ['call', 'car', 'dai', 'engin', 'know']...)

In [ ]:
print(id2word.token2id)

{'call': 0, 'car': 1, 'dai': 2, 'engin': 3, 'know': 4, 'look': 5, 'small': 6, 'thank': 7, 'wonder': 8, 'year': 9, 'answer': 10, 'base': 11, 'card': 12, 'edu': 13, 'experi': 14, 'gui': 15, 'number': 16, 'report': 17, 'send': 18, 'actual': 19, 'advanc': 20, 'better': 21, 'bit': 22, 'feel': 23, 'good': 24, 'got': 25, 'great': 26, 'heard': 27, 'help': 28, 'life': 29, 'like': 30, 'line': 31, 'mayb': 32, 'new': 33, 'opinion': 34, 'peopl': 35, 'plai': 36, 'price': 37, 'probabl': 38, 'question': 39, 'read': 40, 'real': 41, 'recent': 42, 'start': 43, 'time': 44, 'us': 45, 'wai': 46, 'articl': 47, 'com': 48, 'far': 49, 'inform': 50, 'person': 51, 'phone': 52, 'point': 53, 'requir': 54, 'thing': 55, 'write': 56, 'wrote': 57, 'mean': 58, 'possibl': 59, 'right': 60, 'set': 61, 'softwar': 62, 'tell': 63, 'understand': 64, 'world': 65, 'ye': 66, 'agre': 67, 'allow': 68, 'apr': 69, 'believ': 70, 'check': 71, 'come': 72, 'consid': 73, 'control': 74, 'cours': 75, 'follow': 76, 'given': 77, 'govern': 78, 'hand': 79, 'hard': 80, 'hope': 81, 'john': 82, 'kill': 83, 'make': 84, 'need': 85, 'power': 86, 'reason': 87, 'result': 88, 'sai': 89, 'state': 90, 'support': 91, 'todai': 92, 'email': 93, 'file': 94, 'sure': 95, 'thought': 96, 'try': 97, 'accept': 98, 'avail': 99, 'data': 100, 'exist': 101, 'fact': 102, 'go': 103, 'list': 104, 'long': 105, 'note': 106, 'post': 107, 'problem': 108, 'refer': 109, 'said': 110, 'true': 111, 'appreci': 112, 'chang': 113, 'bui': 114, 'mention': 115, 'work': 116, 'wrong': 117, 'run': 118, 'think': 119, 'want': 120, 'assum': 121, 'case': 122, 'christian': 123, 'david': 124, 'differ': 125, 'end': 126, 'exampl': 127, 'get': 128, 'god': 129, 'guess': 130, 'kind': 131, 'littl': 132, 'live': 133, 'man': 134, 'mind': 135, 'pretti': 136, 'second': 137, 'current': 138, 'kei': 139, 'let': 140, 'major': 141, 'place': 142, 'provid': 143, 'sourc': 144, 'take': 145, 'ask': 146, 'includ': 147, 'old': 148, 'sound': 149, 'caus': 150, 'gener': 151, 'group': 152, 'happen': 153, 'origin': 154, 'standard': 155, 'abl': 156, 'big': 157, 'complet': 158, 'import': 159, 'program': 160, 'won': 161, 'word': 162, 'ago': 163, 'awai': 164, 'best': 165, 'book': 166, 'care': 167, 'claim': 168, 'close': 169, 'drive': 170, 'high': 171, 'interest': 172, 'law': 173, 'rememb': 174, 'respons': 175, 'turn': 176, 'univers': 177, 'seen': 178, 'matter': 179, 'window': 180, 'order': 181, 'free': 182, 'mail': 183, 'left': 184, 'isn': 185, 'game': 186, 'lot': 187, 'larg': 188, 'week': 189, 'effect': 190, 'public': 191, 'have': 192, 'issu': 193, 'talk': 194, 'home': 195, 'net': 196, 'idea': 197, 'nation': 198, 'area': 199, 'discuss': 200, 'bad': 201, 'suggest': 202, 'internet': 203}

In [ ]:
print(id2word.token2id.keys())

dict_keys(['call', 'car', 'dai', 'engin', 'know', 'look', 'small', 'thank', 'wonder', 'year', 'answer', 'base', 'card', 'edu', 'experi', 'gui', 'number', 'report', 'send', 'actual', 'advanc', 'better', 'bit', 'feel', 'good', 'got', 'great', 'heard', 'help', 'life', 'like', 'line', 'mayb', 'new', 'opinion', 'peopl', 'plai', 'price', 'probabl', 'question', 'read', 'real', 'recent', 'start', 'time', 'us', 'wai', 'articl', 'com', 'far', 'inform', 'person', 'phone', 'point', 'requir', 'thing', 'write', 'wrote', 'mean', 'possibl', 'right', 'set', 'softwar', 'tell', 'understand', 'world', 'ye', 'agre', 'allow', 'apr', 'believ', 'check', 'come', 'consid', 'control', 'cours', 'follow', 'given', 'govern', 'hand', 'hard', 'hope', 'john', 'kill', 'make', 'need', 'power', 'reason', 'result', 'sai', 'state', 'support', 'todai', 'email', 'file', 'sure', 'thought', 'try', 'accept', 'avail', 'data', 'exist', 'fact', 'go', 'list', 'long', 'note', 'post', 'problem', 'refer', 'said', 'true', 'appreci', 'chang', 'bui', 'mention', 'work', 'wrong', 'run', 'think', 'want', 'assum', 'case', 'christian', 'david', 'differ', 'end', 'exampl', 'get', 'god', 'guess', 'kind', 'littl', 'live', 'man', 'mind', 'pretti', 'second', 'current', 'kei', 'let', 'major', 'place', 'provid', 'sourc', 'take', 'ask', 'includ', 'old', 'sound', 'caus', 'gener', 'group', 'happen', 'origin', 'standard', 'abl', 'big', 'complet', 'import', 'program', 'won', 'word', 'ago', 'awai', 'best', 'book', 'care', 'claim', 'close', 'drive', 'high', 'interest', 'law', 'rememb', 'respons', 'turn', 'univers', 'seen', 'matter', 'window', 'order', 'free', 'mail', 'left', 'isn', 'game', 'lot', 'larg', 'week', 'effect', 'public', 'have', 'issu', 'talk', 'home', 'net', 'idea', 'nation', 'area', 'discuss', 'bad', 'suggest', 'internet'])

In [ ]:
print(id2word.dfs)

{8: 677, 1: 652, 2: 1202, 0: 1012, 6: 568, 4: 3393, 3: 622, 9: 1871, 5: 2095, 7: 1966, 17: 570, 16: 1117, 14: 582, 18: 705, 12: 612, 11: 752, 10: 721, 15: 568, 13: 5315, 43: 1189, 29: 656, 46: 2084, 33: 2623, 22: 846, 32: 748, 39: 1560, 27: 711, 37: 570, 31: 877, 30: 3642, 42: 600, 38: 1063, 25: 1173, 23: 684, 21: 1174, 26: 900, 24: 2119, 34: 960, 35: 2469, 45: 2368, 41: 833, 36: 729, 19: 1059, 28: 1411, 20: 623, 40: 1356, 44: 2602, 57: 766, 56: 5760, 47: 4971, 49: 916, 54: 692, 53: 1483, 52: 609, 50: 1056, 48: 3455, 55: 2006, 51: 1187, 65: 942, 66: 744, 58: 1404, 64: 704, 62: 606, 60: 1764, 61: 928, 59: 1148, 63: 1158, 69: 2554, 82: 668, 86: 889, 84: 1049, 85: 1902, 74: 830, 78: 820, 88: 635, 90: 1181, 72: 1601, 70: 1346, 80: 730, 91: 894, 67: 626, 79: 704, 81: 742, 71: 593, 75: 987, 89: 1233, 76: 1174, 83: 613, 87: 1244, 68: 702, 77: 645, 73: 914, 92: 651, 93: 735, 96: 872, 95: 1352, 97: 1572, 94: 784, 98: 597, 105: 1003, 108: 1744, 104: 711, 106: 762, 101: 788, 100: 581, 102: 1069, 107: 1620, 99: 801, 110: 1280, 111: 843, 103: 1246, 109: 652, 113: 867, 112: 668, 116: 2185, 117: 792, 115: 615, 114: 679, 118: 1278, 120: 2147, 119: 2867, 124: 747, 126: 887, 125: 1305, 129: 800, 136: 623, 122: 1169, 134: 664, 123: 578, 135: 579, 133: 919, 127: 746, 131: 732, 132: 1063, 137: 812, 130: 566, 121: 606, 128: 1003, 140: 1271, 138: 762, 139: 575, 143: 733, 144: 591, 145: 605, 142: 993, 141: 581, 149: 656, 147: 1076, 146: 1142, 148: 763, 152: 902, 155: 599, 153: 939, 154: 937, 150: 719, 151: 1073, 160: 911, 157: 694, 162: 806, 158: 574, 156: 800, 159: 603, 161: 654, 169: 596, 170: 804, 177: 1188, 174: 650, 176: 678, 168: 730, 173: 725, 164: 716, 163: 668, 172: 1090, 166: 627, 171: 703, 175: 730, 165: 928, 167: 611, 178: 763, 180: 927, 179: 612, 181: 764, 182: 597, 183: 654, 184: 600, 185: 772, 186: 717, 187: 1131, 188: 613, 189: 610, 190: 662, 191: 676, 192: 807, 194: 885, 193: 676, 195: 567, 196: 588, 197: 908, 198: 638, 199: 578, 200: 611, 201: 749, 202: 736, 203: 638}

In [ ]:
corpus1=[id2word.doc2bow(doc) for doc in corpus_gen]

In [ ]:
corpus2=[[(token[0],(token[1]/sum(n for _, n in doc))) for token in doc] for doc in corpus1]

In [ ]:
corpus3=[[(token[0],1) for token in doc] for doc in corpus1]

In [ ]:
tfidf=TfidfModel(dictionary=id2word, normalize=True)
corpus4=[tfidf[id2word.doc2bow(doc)] for doc in corpus_gen]

In [ ]:
newdf = pd.DataFrame(corpus1[0])

In [ ]:
newdf = pd.DataFrame(corpus1[0])
newdf2 = pd.DataFrame(corpus2[0])
newdf3 = pd.DataFrame(corpus3[0])
newdf4 = pd.DataFrame(corpus4[0])

newdf['corpus2'] = newdf2[1]
newdf['corpus3'] = newdf3[1]
newdf['corpus4'] = newdf4[1]

In [ ]:
newdf.drop(columns=0, inplace=True)

In [ ]:
newdf.rename(columns={1:"corpus1"}, inplace=True)

In [ ]:
newdf

   corpus1   corpus2  corpus3   corpus4
0        1  0.083333        1  0.220339
1        3  0.250000        1  0.781398
2        1  0.083333        1  0.204635
3        1  0.083333        1  0.264765
4        1  0.083333        1  0.109921
5        1  0.083333        1  0.153928
6        1  0.083333        1  0.273054
7        1  0.083333        1  0.159729
8        1  0.083333        1  0.257032
9        1  0.083333        1  0.164249

In [ ]:
newdict = id2word.token2id

In [ ]:
dicdf = pd.DataFrame.from_dict(newdict, orient='index')

In [ ]:
dicdf['values']=dicdf.index

In [ ]:
dicdf.set_index(0, drop=True)

       values
0
0        call
1         car
2         dai
3       engin
4        know
..        ...
199      area
200   discuss
201       bad
202   suggest
203  internet

[204 rows x 1 columns]

In [ ]:
dicdf = dicdf[0:10]

In [ ]:
newdf = newdf.set_index(dicdf.index)

In [ ]:
mergeddf = df.merge(newdf, left_index=True, right_index=True)

In [ ]:
mergeddf

        CountVectorizer    Tfidf1    Tfidf2  ...   corpus2  corpus3   corpus4
call                1.0  0.083333  0.225601  ...  0.083333        1  0.220339
car                 3.0  0.250000  0.763957  ...  0.250000        1  0.781398
dai                 1.0  0.083333  0.214232  ...  0.083333        1  0.204635
engin               1.0  0.083333  0.257765  ...  0.083333        1  0.264765
know                1.0  0.083333  0.145660  ...  0.083333        1  0.109921
look                1.0  0.083333  0.177521  ...  0.083333        1  0.153928
small               1.0  0.083333  0.263766  ...  0.083333        1  0.273054
thank               1.0  0.083333  0.181720  ...  0.083333        1  0.159729
wonder              1.0  0.083333  0.252166  ...  0.083333        1  0.257032
year                1.0  0.083333  0.184993  ...  0.083333        1  0.164249

[10 rows x 8 columns]

We are not a 100% sure but we think the difference in corpus4 and Tfidf2 comes from generating two different tfidf models (with two different above and below values).

In [ ]:
ngramcv = CountVectorizer(ngram_range=(2,2), max_df=0.99, min_df=0.01)

In [ ]:
datangramcv = ngramcv.fit_transform(data)

In [ ]:
ngramcv.get_feature_names()

['answer question',
 'apr atho',
 'apr gmt',
 'articl apr',
 'ask question',
 'atho rutger',
 'att com',
 'berkelei edu',
 'cmu edu',
 'com write',
 'cso uiuc',
 'cwru edu',
 'edu david',
 'edu write',
 'edu wrote',
 'greatli appreci',
 'hard drive',
 'ibm com',
 'lc mit',
 'let know',
 'like know',
 'long time',
 'look like',
 'mit edu',
 'nasa gov',
 'netcom com',
 'new york',
 'opinion express',
 'pitt edu',
 'previou articl',
 'rutger edu',
 'sound like',
 'thank advanc',
 'thing like',
 'uiuc edu',
 'unit state',
 'virginia edu',
 'want know',
 'work fine',
 'write articl',
 'year ago',
 'year old']

The difference of the features is that here we were working with tokens consisting of 2 words while in question 3 and 4 one token would only represent one word.

In [ ]:
temparray = datangramcv.toarray()

In [ ]:
data[3]

'robert kyanko rob rjck uucp wrote abraxi iastat edu write articl abraxi class iastat edu know weitek graphic chip far low quadrilater command requir point weitek address phone number like inform chip joe green harri corpor jgreen csd harri com system divis thing scare person sens humor'

In [ ]:
finaldf = pd.DataFrame(temparray, columns=ngramcv.get_feature_names())

In [ ]:
finaldf

       answer question  apr atho  apr gmt  ...  write articl  year ago  year old
0                    0         0        0  ...             0         0         0
1                    0         0        0  ...             0         0         0
2                    0         0        0  ...             0         0         0
3                    0         0        0  ...             1         0         0
4                    0         0        0  ...             0         0         0
...                ...       ...      ...  ...           ...       ...       ...
11309                0         0        0  ...             0         0         0
11310                0         0        0  ...             0         0         0
11311                0         0        0  ...             0         0         0
11312                0         0        0  ...             0         0         0
11313                0         0        0  ...             0         0         0

[11314 rows x 42 columns]

In [ ]:
headdf = finaldf.max(axis=0)

In [ ]:
transposeddf = pd.DataFrame(headdf).transpose()

In [ ]:
transposeddf.rename({0:'max values'}, axis="index", inplace=True)

In [ ]:
transposeddf

            answer question  apr atho  ...  year ago  year old
max values                5         3  ...         3         4

[1 rows x 42 columns]